.vscode
chrome-profile
coverage
node_modules
out
test-results
*.iml
*.swp
data/intermediate/
data/scratch/obfuscated-original.js
mitmproxy/src/javascript/deobfuscator/*-????-????-????-????????????-*.js
